/* Add CSS here */
/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202530;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a6cbf6;
}
